@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');


body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: Montserrat, sans-serif;
}

h1 {
    width: 30%;
    font-size: 7em;
    text-align: center;
    line-height: 2em;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: rgb(202, 202, 202);
    font-weight: normal;
}

div#window-wrapper {
    width: 500px;
    height: 380pt;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
    border-bottom-right-radius: 5pt;
    border-bottom-left-radius: 5pt;
}

div#top-bar {
    width: 500px;
    margin-top: 25px;
    height: 20pt;
    background-image: linear-gradient(0deg, rgb(187, 187, 187), rgb(246, 246, 246));
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
    box-sizing: border-box;
    transform: rotate(1deg);
    padding-left: 3pt;
}

div#top-bar>span.top-bar-btn {
    display: inline-block;
    height: 20pt;
    width: 15pt;
    position: relative;
}

div#top-bar>span.top-bar-btn::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8pt;
    height: 8pt;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: rgb(0, 0, 0);
}

div#top-bar>span:nth-child(1)::before {
    background-color: rgb(230, 106, 94);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(207, 82, 70);
    border-right-color: rgb(207, 82, 70);
    border-bottom-color: rgb(207, 82, 70);
    border-left-color: rgb(207, 82, 70);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

div#top-bar>span:nth-child(2)::before {
    background-color: rgb(245, 192, 79);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(214, 168, 81);
    border-right-color: rgb(214, 168, 81);
    border-bottom-color: rgb(214, 168, 81);
    border-left-color: rgb(214, 168, 81);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

div#top-bar>span:nth-child(3)::before {
    background-color: rgb(97, 198, 83);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(85, 169, 66);
    border-right-color: rgb(85, 169, 66);
    border-bottom-color: rgb(85, 169, 66);
    border-left-color: rgb(85, 169, 66);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

div#content-box {
    width: 500px;
    height: 380px;
    position: relative;
}

div#content-box>textarea,
div#content-box>pre#highlight-area {
    height: 380px;
    width: 500px;
    margin-left: -300px;
    padding-left: 300px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 10pt;
    padding-right: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 18pt;
    font-size: 10pt;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

div#content-box>textarea {
    resize: none;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    caret-color: rgb(221, 221, 221);
}

div#content-box>textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

div#content-box>pre#highlight-area {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

div#content-box>pre#highlight-area>span {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.navbar-items-c {
    display: inline-block;
    float: right;
}

.navbar {
    z-index: 100;
    background-color: rgb(34, 34, 34);
    color: rgb(221, 221, 221);
    min-height: 50px;
    width: 100%;
    font-family: Montserrat, sans-serif;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.navbar-container {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 95%;
}

.navbar-container::after {
    content: "";
    clear: both;
    display: block;
}

.navbar-menu {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    display: block;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.navbar-menu-link {
    color: inherit;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    display: inline-block;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Montserrat, sans-serif;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(120, 120, 120);
    border-right-color: rgb(120, 120, 120);
    border-bottom-color: rgb(120, 120, 120);
    border-left-color: rgb(120, 120, 120);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.navbar-burger {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 45px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: none;
    float: right;
    cursor: pointer;
}

.navbar-burger-line {
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    background-color: white;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

#ijm6j8 {
    background-color: rgb(8, 0, 0);
}

#ia95fi {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(97, 96, 96);
}

#contact {
    font-family: Montserrat, sans-serif;
    text-align: center;
    height: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.section-title:hover {
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    transform: scaleY(1.05) scaleX(1.05);
}

.section-title {
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    transform: scaleX(1) scaleY(1);
    font-family: Oswald, sans-serif;
    text-align: center;
    font-size: 55px;
}

.form-field {
    width: 100%;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-family: Montserrat, sans-serif;
    font-size: 16.5px;
}

#iv70nc {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(100, 166, 220);
}

#iyihhn {
    position: relative;
}

#ik2nmt {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
}

#izajbr {
    position: relative;
    display: block;
    width: 100%;
    height: 265px;
}

#ir5w5q {
    height: 100px;
}

#iqn8d9 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#is5r8e {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#i4efsi {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

#ix7w7e {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.container.fullwidth {
    background-color: rgb(132, 130, 130);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: 100%;
    padding-top: 65.5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ilooo6 {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    /* min-height: 400px; */
    height: 70vw;
    max-height: 80vh;
    margin: 0 -50% 0 50%;
    transform: translateX(-50%);
}

#monitor-svg {
    height: 102%;
    width: 100vw;
    margin-right: -50%;
    padding: 0;
    margin-bottom: -10px;
}

#svg_17 {
    padding-left: 250px;
}

#isafas {
    margin-left: -35px;
    /* margin-right: -130%; */
    height: 100%;
    width: 100vw;
}



.filter--mona {
    filter: url(#displacement-filter);
    -webkit-filter: url(#displacement-filter);
    padding-left: 60px;
    overflow: hidden;
    position: relative;
    color: rgb(90, 255, 72);
    font-family: 'Roboto';
}


div#window-wrapper {
    width: 500px;
    height: 300pt;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5pt;
}

div#top-bar {
    width: 500px;
    margin-top: 25px;
    height: 20pt;
    background-image: linear-gradient(0deg, #bbb, #f6f6f6);
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
    box-sizing: border-box;
    transform: rotate(1deg);
    padding-left: 3pt;
}

div#top-bar>span.top-bar-btn {
    display: inline-block;
    height: 20pt;
    width: 15pt;
    position: relative;
}

div#top-bar>span.top-bar-btn:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8pt;
    height: 8pt;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #000;
}

div#top-bar>span:nth-child(1):before {
    background-color: #E66A5E;
    border: 1px solid #cf5246;
}

div#top-bar>span:nth-child(2):before {
    background-color: #F5C04F;
    border: 1px solid #D6A851;
}

div#top-bar>span:nth-child(3):before {
    background-color: #61C653;
    border: 1px solid #55A942;
}

div#content-box {
    width: 500px;
    height: 300px;
    position: relative;
}

#svg_15 {
    clip-path: url(#svgPath);
    -webkit-clip-path: url(#svgPath);
}

div#content-box>textarea,
div#content-box>pre#highlight-area {
    overflow: scroll;
    height: 300px;
    width: 500px;
    box-sizing: border-box;
    overflow: auto;
    padding: 10pt;
    margin: 0;
    line-height: 18pt;
    font-size: 10pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

div#content-box>textarea {
    resize: none;
    border: none;
    background-color: #000;
    color: #000;
    caret-color: #ddd;
}

div#content-box>textarea:focus {
    outline: none;
}

div#content-box>pre#highlight-area {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

div#content-box>pre#highlight-area>span {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.highlight-comma,
.highlight-colon,
.highlight-keyword,
.highlight-operator,
.highlight-function,
.highlight-function-name {
    font-weight: 400;
}

.highlight-argument {
    font-style: italic;
}

.highlight-default,
.highlight-colon,
.highlight-semicolon,
.highlight-comma {
    color: #ddd;
}

.highlight-keyword,
.highlight-operator {
    color: #ff6192;
}

.highlight-function {
    color: #47A3FF;
}

.highlight-function-name {
    color: #61FFD3;
}

.highlight-argument {
    color: #FFBC61
}

.highlight-string {
    color: #9AFF76;
}

.highlight-number {
    color: #C049FE;
}

.highlight-comment {
    color: #777;
}

.highlight-left-parentheses,
.highlight-right-parentheses,
.highlight-left-bracket,
.highlight-right-bracket {
    color: #82C0FF;
}

#i4q7l9 {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

#icre8g {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

li {
    font-family: Montserrat, sans-serif;
}

.col-md {
    flex-shrink: 100;
    flex-basis: 100%;
    overflow-y: visible;
    flex-direction: column;
    align-self: stretch;
    flex-grow: 2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.col-md {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    flex-direction: column;
}

.container>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

#i5o93f {
    color: black;
    width: 20%;
    transform: translateX(-50%);
    margin-top: 40px;
    margin-right: 50%;
    margin-bottom: 40px;
    margin-left: 50%;
    min-width: 200px;
    min-height: 200px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 20%;
}

#id859i {
    color: black;
    height: 60px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 60px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

#projects {
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    height: 65.5px;
    margin-top: -65.5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#i6x3ed {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#ic6q6m {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#i2mpk5 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#i8lvcd {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#ie6pac {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#ivggrv {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#i9ktk8 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#ix1u06 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#iuxuup {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#i7igev {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#iqffv4 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#ixfi2g {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.subtitle {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(120, 120, 120);
    font-size: 26px;
    font-family: Oswald, sans-serif;
    width: 80%;
    transform: translateX(-50%);
    margin-top: 0px;
    margin-right: 50%;
    margin-bottom: 10px;
    margin-left: 50%;
}

#ijv3xp {
    font-family: Montserrat, sans-serif;
    text-align: center;
    height: 65.5px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: -65.5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#employment {
    font-family: Montserrat, sans-serif;
    text-align: center;
    height: 65.5px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: -65.5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#i0n9k8 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#ip0xpp {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#iovgwg {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#i2mgmm {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#irijsh {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.btn {
    font-family: Montserrat, sans-serif;
    font-size: 16.5px;
}

#i6dqr9 {
    margin-top: 0px;
    margin-bottom: 1rem;
    color: rgb(33, 37, 41);
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

#imhv6d {
    margin-top: 0px;
    margin-bottom: 1rem;
    color: rgb(33, 37, 41);
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

#ib99ee {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#iws7b1 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#iqetxo {
    font-style: italic;
    font-weight: bold;
}

#ig4xog {
    font-style: italic;
    font-weight: bold;
}

#iqkbrm {
    color: black;
}

.img-inline {
    height: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -5px;
    margin-left: 0px;
}

.stack-item {
    font-size: 20px;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ipqi27 {
    color: black;
}

#iwgloy {
    color: black;
}

#im2q4b {
    color: black;
}

#iuvhld {
    color: black;
}

#idu9ng {
    color: black;
}

#iyug7g {
    color: black;
}

#ivrknp {
    color: black;
}

#iuke3s {
    color: black;
}

#ikehov {
    font-style: italic;
    font-weight: bold;
}

#ihtgiv {
    font-weight: normal;
    font-style: normal;
}

#if3x46 {
    font-style: italic;
    font-weight: bold;
}

#ibeifa {
    font-style: normal;
    font-weight: 400;
}

#icn6lt {
    font-style: italic;
    font-weight: bold;
}

#i2anxo {
    color: black;
}

#if1fg5 {
    color: black;
}

#isgomw {
    color: black;
}

#iqebw6 {
    color: black;
}

#employment {
    font-family: Montserrat, sans-serif;
    text-align: center;
    height: 65.5px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: -65.5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.section {
    width: 90%;
    max-width: 1100px;
    margin-top: 0px;
    margin-right: 50%;
    margin-bottom: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#ibshjj {
    color: black;
}

#i3lze9 {
    color: black;
}

#i2onrd {
    color: black;
}

#iyv87d {
    color: black;
}

#i4lcnk {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.work-item {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#ij8n8g {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
}

#i9zaaj {
    color: black;
}

#ikmkvk {
    color: black;
}

#ipyifr {
    color: black;
}

#izpbwk {
    color: black;
}

#iki7r8 {
    color: black;
}

#igxv0q {
    color: black;
}

#iuprc6 {
    color: black;
}

#i8qois {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
}

#ix7emp {
    color: black;
}

#isnfgu {
    color: black;
}

#i3mgtg {
    color: black;
}

#i8vljm {
    color: black;
}

#iq4s1w {
    color: black;
}

#iwbnyp {
    color: black;
}

#i1sjgk {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
}

#i6oz4v {
    height: 75px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 1px;
    margin-top: -10px;
    margin-right: 50%;
    margin-bottom: -10px;
    margin-left: 50%;
}

#i29ohs {
    height: 75px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 1px;
    margin-top: -10px;
    margin-right: 50%;
    margin-bottom: -10px;
    margin-left: 50%;
}

#in5ugn {
    color: black;
}

.company-img {
    width: 100px;
    height: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 253, 253);
    display: flex;
}

.center {
    align-self: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    justify-self: center;
    vertical-align: middle;
}

.company-img.center {
    position: relative;
}

#isd5dt {
    width: 100px;
    display: block;
    margin: 0 auto 0 auto;
    height: 100px;
    position: relative;
}

#igzta2 {
    display: block;
}

#id51eh {
    color: black;
}

#ix2fj5 {
    width: 100px;
    display: block;
    margin: 0 auto 0 auto;
    height: 100px;
    position: relative;
}

#iqlsfh {
    display: block;
}

#ihobxo {
    color: black;
}

#is33ui {
    width: 100px;
    display: block;
    margin: 0 auto 0 auto;
    height: 100px;
    position: relative;
}

#ip3l7h {
    display: block;
}

.company-img-row {
    width: 80%;
    margin: -50px 50% 0 50%;
    padding: 0 0 0 0;
    transform: translateX(-50%);
}

#izmhrd {
    margin: 50px 0 10px 0;
}

@media (max-width: 768px) {
    .gjs-cell {
        width: 100%;
        display: block;
    }
}

@media (max-width: 760px) {
    .gjs-cell {
        width: 100%;
        display: block;
    }

    .navbar-burger {
        display: block;
    }

    .navbar-items-c {
        display: none;
        width: 100%;
    }

    .navbar-menu {
        width: 100%;
    }

    .navbar-menu-link {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .col-md {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    .col-md {
        min-width: 350px;
    }
}

@media (max-width: 480px) {
    .stack-item {
        text-align: center;
    }

    .col-md {
        text-align: left;
    }

    #i5xov6 {
        text-align: left;
    }

    #ito8mh {
        text-align: left;
    }

    #i5tyz8 {
        text-align: left;
    }
}